@use 'var';
@use 'header';
@use 'dropdown';
@use 'banner';
@use 'content';


@font-face {
    font-family: Raleway;
    src: url(../../assets/fonts/Raleway-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 3.5em;
    background-color: var.$backgroundMainColor;
    font-family: Raleway;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65em;
}

