@use 'var';
@use 'header';
@use 'dropdown';


@font-face {
    font-family: Raleway;
    src: url(../../assets/fonts/Raleway-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var.$backgroundMainColor;
}

